body {
    box-sizing: border-box;
    overflow-x: hidden;
}

.header {
    background-color: #1F2937;
    color: white;
    font-family: sans-serif;
    margin: -8px;
    padding: 0px 100px 100px 100px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
    border: 0;
    color: white;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img {
    background-color: grey;
    place-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
}

.awe {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
}

#but1 {
    width: 90px;
    height: 30px;
}

.info {
    font-family: sans-serif;
}

.raninfo {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.imgpla1, .imgpla2, .imgpla3, .imgpla4 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
    padding-top: 0px;
    margin-top: 0px;
}

.ip1, .ip2, .ip3, .ip4 {
    border: 4px #3882F6 solid;
    border-radius: 8px;
    height: 100px;
    width: auto;
    align-self: flex-start;
}

.imgsec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
    padding: 100px;
}

.p1, .p2, .p3, .p4 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.quotesec {
    background-color: #E5E7EB;
    width: 100%;
    padding: 100px 0px 100px 17px;
    margin: -8px;
    display: flex;
    font-family: sans-serif;
}

.quotebod{
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: flex-end;
}

.quote {
    font-size: 36px;
    font-style: italic;
    padding-left: 100px;
    padding-right: 100px;
}

.credit {
    padding-right: 175px;
    padding-left: 100px;
}

.callcon {
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    margin: 50px 100px 50px;
}

#but2 {
    border: white solid;
    border-radius: 8px;
    width: 90px;
    height: 30px;
    display: flex;
    place-content: center;
}

.calltext {
    line-height: 0.2;
}